.card-a {
  background-color: white;
  transition: background-color 0.3s;
}

.card-a:hover {
  background-color: black;
  color: white;
}

.card-b {
  background-color: white;
  transition: background-color 0.3s;
}

.card-b:hover {
  background-color: lightgrey;
}